@import url(./global.css);

/* Header */
header{
    font-family: var(--font-family-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 46px;
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-primary);
}

.container-nav-header{
    display: flex;
    align-items: center;
    gap: 139px;
}

.navigation-header{
    display: flex;
    gap: 45px;
    list-style: none;
    font-size: var(--font-size-body);
}

.navigation-header li a{
    color: var(--color-neutral);
    text-decoration: none;
}

.btn-header{
    background-color: var(--color-primary);
    color: var(--color-neutral);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: var(--font-weight-button);
    transition: 0.3s;
}

.btn-header:hover{
    background-color: #762ebe;
}

/* Main */
main{
    background-color: var(--color-secondary);
    font-family: var(--font-family-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.main-content{
    display: flex;
    flex-direction: column;
    color: var(--color-neutral);
    gap: 25px;
    padding: 50px 0px;
}

.main-content h1{
    font-size: var(--font-size-h1);
    display: flex;
    flex-direction: column;
}

.main-content h1 span{
    color: var(--color-primary);
}

.main-content p{
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    width: 497px;
}

.btn-main{
    border-radius: 10px;
    background-color: var(--color-secondary);
    padding: 10px 25px;
    text-decoration: none;
    border: 1px solid var(--color-primary);
    color: var(--color-neutral);
    transition: 0.3s;
}

.btn-main:hover{
    background-color: #3b3977;
}

/* Section-Infos */
.section-infos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px 100px;
    font-family: var(--font-family-primary);
    padding: 100px;
    
}

.section-infos h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    width: 443;
}

.section-infos h2 span{
    display: flex;
    color: var(--color-primary);
}

.section-infos p{
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    width: 603px;
    gap: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Section Evolution */
.section-evolution{
    font-family: var(--font-family-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary);
    gap: 24px;
    padding: 60px;
}

.section-evolution h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    align-items: center;
    padding: 16px;
    color: var(--color-neutral);
}

.section-evolution h2 span{
    color: var(--color-primary);
}

.section-evolution p{
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-neutral);
    width: 700px;
    text-align: center;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    padding: 80px 0;
    gap: 126px;
    border-top: 1px solid var(--color-neutral);
}

.content-footer{
    display: flex;
    align-items: flex-start;
    gap: 72px;
}

.quick-links{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.quick-links h2{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
}

.content-links ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-links li{
    list-style: none;
}

.content-links a{
    text-decoration: none;
    color: var(--color-neutral-white);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    transition: 0.3s;
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-subscribe h2{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    width: 198px;
}

form{
    display: flex;
    justify-content: space-between;
    width: 385px;
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 16px;
}

input{
    background-color: transparent;
    color: var(--color-neutral-white);
}

.footer-subscribe button{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 20px;
    background-color: #8B3DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.footer-subscribe button:hover{
    transform: scale(1.05);
}